Source: mdm-themes
Section: gnome
Priority: optional
Maintainer: John Paul Adrian Glaubitz <glaubitz@physik.fu-berlin.de>
Build-Depends: debhelper (>> 4.0.0), gnome-pkg-tools
Standards-Version: 3.8.0

Package: mdm-themes
Architecture: all
Depends: mdm
Enhances: mdm
Description: Themes for the MDM Display Manager
 This package provides a few additional themes for the MDM Display
 Manager's greeter, giving different looks to your graphical login
 screen.
 .
 To select them, use the mdmsetup software.
